<a href="https://colab.research.google.com/github/Ahineswari/learn-python/blob/main/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [ ]:
#please write the code below this line

In [6]:
 
l=[23,45,25,78,90,45,22,56,99,12,9,75,32]
print(l)
even=[]
Odd=[]
for i in l:
   if(i%2==0):
     even.append(i)
   else:
     Odd.append(i)
print(even)

[23, 45, 25, 78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
[78, 90, 22, 56, 12, 32]

In [7]:
 
l=[23,45,25,78,90,45,22,56,99,12,9,75,32]
del l[5:7]
print(l)

[23, 45, 25, 78, 90, 56, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [ ]:
#please write the code below this line

In [11]:
[x.upper() for x in ["a", "e", "i","o","u"]]
['A', 'E', 'I','O','U']

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [ ]:
#please write the code below this line

In [10]:
 
fruits=("banana","cherry","apple","grapes")
Yellow,*red,green=fruits
print(Yellow)
print(red)
print(green)

banana
['cherry', 'apple']
grapes